<div class="card">
  <div class="left">
	<div class="profile">
	  <img [src]="userProfile.avatar_url" alt="profile picture" class="user_image"/>
	  <span class="user_name">{{userProfile.login}}</span>
	  <span class="user_tag">&#64;{{userProfile.login | lowercase}}</span>
	</div>
	<div class="socials">
	  <div class="twitter">
      <div>
        <i class="bi bi-twitter"></i>
        <span>{{userProfile.twitter_username ? userProfile.twitter_username : 'not available'}}</span>
      </div>
	  </div>
	  <div class="work">
      <div>
        <i class="bi bi-suitcase-lg-fill"></i>
        <span>{{userProfile.company ? userProfile.company : 'not available'}}</span>
      </div>
	  </div>
	  <div class="blog">
		<a [href]="userProfile.blog" target="_blank">
		  <i class="bi bi-usb-c"></i>
		  <span>{{userProfile.blog != '' ? userProfile.blog : 'not available'}}</span>
		</a>
	  </div>
	  <div class="addr">
		<div>
		  <i class="bi bi-house-door-fill"></i>
		  <span>{{userProfile.location ? userProfile.location : 'not available'}}</span>
		</div>
	  </div>
	</div>
  </div>
  <div class="right">
	<div class="stats">
	  <div class="stat repos">
		<span>{{userProfile.public_repos}}</span>
		<span>Repos</span>
	  </div>
	  <div class="stat followers">
		<span>{{userProfile.followers}}</span>
		<span>Followers</span>
	  </div>
	  <div class="stat following">
		<span>{{userProfile.following}}</span>
		<span>Following</span>
	  </div>
	</div>
	<div class="biography">
	  <span>Biography</span>
	  <span class="bio">{{userProfile.bio}}</span>
	</div>
	<div class="date_joined">
	  <span>Joined on</span>
	  <span>{{ userProfile.created_at | date: 'dd MMMM yyyy' }}</span>
	</div>
  </div>
</div>
