<div class="card">
  <div class="left">
    <div class="profile">
			<img src="https://via.placeholder.com/120" alt="profile picture" class="user_image"/>
			<span class="user_name">SifeddineReg</span>
			<span class="user_tag">&#64;SifeddineReg</span>
		</div>
    <div class="socials">
			<div class="twitter">
				<a href="https://twitter.com/SifeddineReg" target="_blank">
					<i class="bi bi-twitter"></i>
					<span>SReg</span>
				</a>
			</div>
			<div class="work">
				<div>
					<i class="bi bi-suitcase-lg-fill"></i>
					<span>Work</span>
				</div>
			</div>
			<div class="blog">
				<a href="https://blog.sifeddine.dev" target="_blank">
					<i class="bi bi-usb-c"></i>
					<span>Blog</span>
				</a>
			</div>
			<div class="addr">
				<div>
					<i class="bi bi-house-door-fill"></i>
					<span>Address</span>
				</div>
			</div>
		</div>
  </div>
  <div class="right">
		<div class="stats">
			<div class="stat repos">
				<span>8</span>
				<span>Repos</span>
			</div>
			<div class="stat followers">
				<span>7665</span>
				<span>Followers</span>
			</div>
			<div class="stat following">
				<span>8</span>
				<span>Following</span>
			</div>
		</div>
		<div class="biography">
			<span>Biography</span>
			<span class="bio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti ipsum repudiandae quidem fuga a reiciendis distinctio ullam ipsam praesentium molestias aliquid officiis porro hic illo maxime deleniti, unde esse dolores.</span>
		</div>
		<div class="date_joined">
			<span>Joined on</span>
			<span>Aug 8, 2021</span>
		</div>
	</div>
</div>
