.card {
  position: relative;
  height: auto;
  border: 2px solid transparent;
  border-radius: 50px;
  background: linear-gradient(163deg, rgb(5 54 128) 0%, rgb(4 22 7 / 71%) 100%);
  background-clip: padding-box;
  padding: 20px;
  display: flex;
  flex-direction: row;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.card::before {
  position: absolute;
  top: -2px; bottom: -2px;
  left: -2px; right: -2px;
  background: linear-gradient(232.49deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  content: '';
  z-index: -1;
  border-radius: 50px;
}

.left {
  flex: 1;
  padding: 10px;
  width: 30%;
}

a {
  color: white;
  text-decoration: none;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  flex: 2;
  padding: 10px;
  width: 70%;
}

.user_image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
}

.profile {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.user_name {
  display: block;
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 10px;
}

.user_tag {
  display: block;
  font-size: 1em;
  color: #b0b0b0;
  margin-top: 5px;
}

.socials {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.socials div, .socials a {
  font-size: 1em;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

i {
  margin-right: 10px;
}

.stats {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.repos, .followers, .following {
  text-align: center;
}

.stat span:first-child {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
}

.biography {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.bio {
  margin: 0;
  text-align: justify;
  font-weight: bold;
  font-size: 0.9em;
}

.date_joined {
  margin-top: 20px;
  text-align: right;
  width: 100%;
}

.date_joined span:first-child {
  display: block;
}

@media (max-width: 500px) {
  .card {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .left, .right {
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .profile, .socials, .biography, .date_joined {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .socials {
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    width: 75%;
  }
  .date_joined {
    align-items: flex-end !important;
  }
}
