<div class="home">
  <div class="content">
    <div class="left-section">
      <div class="left">
        <div class="title">
          <h2>Dev</h2>
          <h2>Finder</h2>
        </div>
        <app-search-bar class="search"></app-search-bar>  
      </div>
      <div class="middle-line right">
        <svg width="95" height="747" viewBox="0 0 95 747" fill="none" xmlns="http://www.w3.org/2000/svg">
          <line x1="54.5" y1="0.5" x2="54.5005" y2="472.5" stroke="white" stroke-linecap="round"/>
          <line x1="8.5" y1="320" x2="53.5" y2="320" stroke="white" stroke-linecap="round"/>
          <line x1="54.5" y1="562.5" x2="90.5" y2="562.5" stroke="white" stroke-linecap="round"/>
          <line x1="17.4999" y1="428.5" x2="53.4999" y2="428.5" stroke="white" stroke-linecap="round"/>
          <circle cx="13.4999" cy="428.5" r="4.5" fill="white"/>
          <circle cx="90.5" cy="562.5" r="4.5" fill="white"/>
          <circle cx="4.5" cy="320" r="4.5" fill="white"/>
          </svg>        
      </div>
    </div>
    <div class="right-section">
      <app-profile-card></app-profile-card>
    </div>
  </div>
</div>
